.breadcrumbs
  .container
    ul.breadcrumbs__list
      li.breadcrumbs__item
        a.breadcrumbs__link(href="/") Главная страница
      li.breadcrumbs__item
        a.breadcrumbs__link(href="javascript:;") Внутренняя страница
