extends includes/layout

block meta
  title Главная страница | Название сайта
  meta(name='description' content="Описание главной страницы")

block content
  include includes/header
  include includes/index
  include includes/footer
